@import "/src/palette";

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 15px;
  background-color: $darkest;
  color: $lightest;
}
.topbar__left-bar {
  position: relative;
}
.topbar__right-bar {
  display: flex;
  flex-wrap: nowrap;
}

.topbar__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 12px;
  color: $lightest;
}
.topbar__buttons:hover {
  color: $middle-light;
}
