@import "/src/palette";

.searchBar {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px 10px 15px;
  color: $lightest;
}

.searchBar__searchSection {
  position: relative;
  border: 1px solid $darkest;
  border-radius: 50px;
  width: 30%;
}

.searchBar__search {
  border-radius: 50px;
  width: 90%;
  height: 45px;
  padding: 15px 30px;
  border: 0;
}

.searchBar__find {
  position: absolute;
  top: 15px;
  right: 15px;
  color: black;
}
.searchBar__find:hover {
  transform: scale(1.1);

  cursor: pointer;
}

.searchBar__cartSection {
  display: flex;
  flex-wrap: nowrap;
}

.searchBar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $darkest;
  padding: 10px;
}
.searchBar__link:hover {
  color: $darkest;
  transform: scale(1.1);
}

.searchBar__icons {
  font-size: 20px;
  margin-right: 10px;
}
