@import "/src/palette";

.sign-section {
  width: 100%;
  min-height: 264px;
  background-color: $middle-light;
  &__email,
  &__tel,
  &__button {
    height: 47px;
    margin-bottom: 10px;
  }
  &__email,
  &__tel {
    width: 100%;
    padding: 0 12px;
    margin-right: 12px;
  }

  &__button {
    width: 130px;
    font-weight: 17px;
    font-weight: bold;
  }
  &-left,
  &-right {
    padding: 40px 40px 40px 10px;
  }
  &-right {
    padding-left: 40px;
    padding-right: 0;
  }
}

@media (min-width: 665px) and (max-width: 768px) {
  .sign-section__email,
  .sign-section__tel {
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .sign-section__email,
  .sign-section__tel {
    width: 220px;
  }
}
